<section class="section download-area overlay-dark ptb_100">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-7">
                <!-- Download Text -->
                <div class="download-text">
                    <h2 class="text-white">Descarga nuestra App</h2>
                    <p class="text-white my-3 d-none d-lg-block"></p>
                    <p class="text-white my-3 d-block d-lg-none"></p>
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons d-flex">
                        <a href="#">
                            <img src="https://servicespluss.com/assets/img/google_play.png" alt="">
                        </a>
                        <a href="#">
                            <img src="https://servicespluss.com/assets/img/app_store.png" alt="">
                        </a>
                    </div>
                    <span class="d-inline-block text-white fw-3 font-italic mt-3">* Disponible para iPhone, iPad y todos los dispositivos Android</span>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <!-- Download Thumb -->
                <div class="download-thumb pl-4 d-block d-lg-none">
                    <img src="https://via.placeholder.com/450X600?text=450x600" alt="">
                </div>
            </div>
        </div>
        <!-- Download Thumb LG -->
        <div class="download-thumb-lg pl-4 d-none d-lg-block">
            <img src="https://via.placeholder.com/457X550?text=450x600" alt="">
        </div>
    </div>
</section>