<div class="contact-page">
    <div class="main">
        <app-breadcrumb [tittle]="tittle" [breadcrumbTittle]="breadcrumbTittle" [breadcrumbTittledetails]="false">
        </app-breadcrumb>
        <app-contact-one></app-contact-one>

        <!-- <section class="section map-area">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [scrollwheel]="false">
                <agm-marker [latitude]="latitude" [longitude]="longitude">
                    <agm-info-window>
                        <h5>Dirección: {{address}}</h5>
                        <div>Latitud: {{latitude}}</div>
                        <div>Longitud: {{longitude}}</div>
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </section> -->
    </div>
</div>
<app-footer-one></app-footer-one>