.contact-box {
    margin-top: 8rem!important;
}

.btn-single {
    background-color: #f4f0f2 !important;
    color: #035aa6;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-5,
.my-5 {
    margin-top: 5rem;
}

.mat-form-field {
    display: block;
}

.mat-icon {
    cursor: pointer;
}

[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    content: ''!important;
    position: absolute!important;
    top: 1!important;
    left: 0!important;
    width: 18px!important;
    height: 18px!important;
    z-index: 0!important;
    border: 2px solid #5a5a5a!important;
    border-radius: 1px!important;
    margin-top: 3px!important;
    -webkit-transition: .2s!important;
    transition: .2s!important;
    cursor: pointer;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit!important;
}

[type="checkbox"]:checked+span:not(.lever):before {
    top: 12px!important;
    left: -5px!important;
    width: 12px!important;
    height: 22px!important;
    border-top: 2px solid transparent!important;
    border-left: 2px solid transparent!important;
    border-right: 2px solid #035aa6!important;
    border-bottom: 2px solid #035aa6!important;
    -webkit-transform: rotate(40deg)!important;
    transform: rotate(40deg)!important;
    -webkit-backface-visibility: hidden!important;
    backface-visibility: hidden!important;
    -webkit-transform-origin: 100% 100%!important;
    transform-origin: 100% 100%!important;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute!important;
    opacity: 0!important;
    pointer-events: none!important;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    padding: 0!important;
}

[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 1px solid;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.cursor {
    text-decoration: underline;
}

.fa-6x {
    font-size: 7em;
}