<div class="homepage-2">
    <div class="main">
        <app-welcome [dataContent]="home" [dataCategories]="categoryHome" [dataFiveCategories]="fiveCategoryHome"></app-welcome>
        <app-features-two [dataContent]="home"></app-features-two>
        <app-cta-two></app-cta-two>
        <app-service-two [dataContent]="home"></app-service-two>
        <app-discover-two [dataContent]="home"></app-discover-two>
        <app-reviews-one></app-reviews-one>
    </div>
</div>
<app-footer-one></app-footer-one>