<div class="inner error-page inner-pages">
    <div class="main">
        <section id="home" class="section welcome-area bg-overlay  align-items-center">
            <div class="container">
                <div class="row  justify-content-center">

                    <!-- Iniciar sesion -->
                    <div class="col-12 col-md-8 col-lg-5">

                        <app-login [selectedFormAuthentic]="viewSelectLogin">
                        </app-login>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>