<div class="inner error-page inner-pages">
    <div class="main">
        <section id="home" class="section welcome-area bg-overlay  align-items-center">
            <div class="container">
                <div class="row  justify-content-center">
                    <div class="col-12 col-md-8 col-lg-5">
                        <div class="contact-box bg-white text-center rounded p-4 p-sm-5 mt-5 mt-lg-0 shadow-lg">
                            <form>
                                <h4><i class="fas fa-circle-notch fa-spin"></i></h4>
                                <h5>Verificando</h5>
                                <!-- <img src="https://image.freepik.com/vector-gratis/concepto-pensar-flat_23-2148156507.jpg" alt=""> -->
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>