<app-scrollup></app-scrollup>
<app-header-two></app-header-two>
<router-outlet></router-outlet>

<ngx-spinner size = "medium" color = "rgba(255,255,255,0)" type = "ball-scale" [fullScreen] = "true">
    <img src="https://servicespluss.com/assets/img/brand_splash.png" alt="logo">
    <p style="color: white !important"> Cargando... </p>
</ngx-spinner>


<!-- <ngx-spinner bdColor="rgba(3, 90, 166, 1)" size="small" [fullScreen]="true">
    <img src="../assets/img/brand_splash.png" alt="logo">
    <p style="color: white !important; text-align: center;"> Cargando... </p>
</ngx-spinner> -->
