.navbar-dark.navbar-sticky-on .navbar-nav .white-link {
    color: #fff;
}

li {
    a.router-link-active {
        border-radius: 30px;
        background: #035aa6;
        color: #fff !important;
        visibility: visible;
        animation-duration: 2s;
        animation-delay: 300ms;
        animation-iteration-count: infinite;
        animation-name: pulse;
        font-size: auto;
    }
}

li {
    a.router-link-active2 {
        color: #035aa6 !important;
    }
}

.header1 {
    width: auto;
}

//Sombra redondeada en item del menu
// li {
//     a.router-link-active {
//         color: rgb(52, 53, 134)!important;
//         box-shadow: 0px 0px 3px rgb(92, 99, 199);
//         // background-color: rgb(78, 101, 151)!important;
//         border-radius: 40px 40px 40px 40px;
//     }
// }


.iconic {
    font-size: 25px;
}

.justify-content-center {
    justify-content: center!important;
    display: contents;
}

.w-40 {
    width: 40% !important;
}

.rounded-circle {
    width: 100%;
    width: 50px!important;
    height: 50px!important;
}

.dropdown-toggleC::after {
    content: none;
}

@media (min-width: 992px) and (max-width: 1366px) {
    .text-size {
        height: 33px;
    }
    .dropdown-menu-profile {
        margin-top: 35px;
    }
}

.thumbnail-perfil {
    max-width: 50px!important;
    min-width: 50px!important;
}

.dropdown-item {
    text-transform: capitalize!important;
}

.solicitar {
    width: 178px ;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.solicitar2 {
    cursor: pointer;
}

.serviamigo {
    width: 160px ;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.icono:focus {
    color: #035aa6!important;
}


// ::ng-deep .nav-link:focus {
//     border-radius: 30px;
//     background: #035aa6;
//     color: #fff;
//     visibility: visible;
//     animation-duration: 2s;
//     animation-delay: 300ms;
//     animation-iteration-count: infinite;
//     animation-name: pulse;
// }

