.images {
    height: 110px;
}

.carousel .carousel-item > img {
    width: 100%;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #e2e3e5;
    cursor: pointer;
}

.style-image {
    display: block !important;
    width: 100% !important;
    height: 40vh;
}

.comments-sm {
    max-height: 110px;
}

.text-truncate {
    white-space: normal!important;
}

.checked, .emptyStar {
    color: #f17304 !important;
}
  