.btn-primary {
    background-color: #035aa6;
    border-color: #007bff;
}

.map-area {
    height: 100vh !important;
    width: 100%;
}

.mat-dialog-content {
    max-height: 50vh !important;
}

.autocomplete-container {
    position: absolute;
    bottom: 0;
    padding-right: 10px;
}

.btn-css {
    bottom: 23px;
    border-radius: 25px;
}